/* Reset default styles */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #333 !important;
    padding-bottom: 80px;
    /* Adjust this value to the height of your footer */
}


body>header~* {
    color: white;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    /* Adjust as needed */
}

/* Header styles */
header {
    background-color: #333;
    /* Adjust background color as needed */
    color: #fff;
    /* Adjust text color as needed */
    padding: 20px;
    /* Adjust padding as needed */
    text-align: center;
}

/* Navigation styles */
nav {
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    /* Adjust spacing between menu items as needed */
}

nav ul li:last-child {
    margin-right: 0;
    /* Remove margin from last menu item */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section styles */
#welcome-section,
#alternating-images,
#key-aspects {
    padding: 40px 0;
    /* Adjust as needed */
}

/* Aspect styles */
.aspect {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: 1px solid #e5e7eb;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

/* Form Styles */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    color: #FFF;
}

.form-group input {
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    border: 2px solid #d4d4d4;
    width: 75%;
}

input[type=submit] {
    width: 75%;
    border-radius: 8px;
}

a.register {
    margin-top: 1rem;
}

.notification-icon {
    margin-left: auto;
    margin-right: 20px;
    /* Adjust this value as needed */
}

/* Adjust proposal history div to be a list that descends */
.proposal-history ul {
    list-style-type: none;
    padding: 0;
}

.proposal-history ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

/* Position proposal history div on the far right of the page */
.proposal-history {
    position: absolute;
    top: 100px;
    right: 300px;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
}

/* Center the buttons */
.center-buttons {
    text-align: center;
}

.proposal-history-section .card .card-body {
    background-color: #333 !important;
    color: #fff !important;
}


.icons-container {
    display: flex;
}



/* Responsive styles */
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}